/* Clearing all defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container styling */
.container {

    width: 80%;
    margin: auto;

}

/* Header-container styling */
.container .header-container {
    display: flex;
    justify-content: space-between;
    height: 19.5vh;
}

/* Header styling */
.header {

    height: 20vh;
    margin-bottom: 10px;
    /* overflow: hidden; */
}

/* header left section */
.header .container #LeftH {
    display: flex;
    align-items: center;
}

/* logo-section */
.header .container #logo {
    height: 71px;
    width: 313px;
    background: url(./images/Vector\ Smart\ Object-pdf\ \(1\).jpg);
    background-size: cover;
}

/* header right section */
.header .container #rightH {

    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

/* the container that holds the upperH */
.header .container #rightH #upperH-holder {
    display: flex;
    justify-content: flex-end;
}

/* upper-section of header-right */
.header .container #rightH #upperH {
    width: 242px;
    height: 35px;
    display: flex;
    align-items: center;
}

/* the ul in header */
.header .container #rightH #upperH #search {
    list-style: none;
    width: 207px;
    height: 35px;
    display: flex;
    align-items: center;
}

/* The search icon */
.header .container #rightH #upperH #search-icon {
    background-image: url(./images/ICONS/icon.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    background-color: #55ba47;
}

/* Header navigation list */
.header .container #rightH #upperH #search li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 13px;
    font-size: 13px;
    color: #595959;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
}

/* the first item of the list */
.header .container #rightH #upperH #search #a {
    border-right: #595959 solid;
}

/* Lower-right item of header */
.header .container #rightH #lowerH {
    /* width: 421px;
    height: 56px; */
    font-size: 29px;
    color: #55ba47;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: right;
}

/* Main Navigation Styling */
.Main-Nav {

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    /* left: 50%;
    top: 0; */
    width: 100%;
    /* transform: translate(-50%, 0%); */
}

/* ul of main navigation bar */
.Main-Nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* list items of navigation bar */
.Main-Nav ul li {
    /* display: inline; */
    font-size: 17px;
    line-height: 40px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: center;
    padding: 5px 30px;
}

/* current position */
.Main-Nav ul .current {
    background-color: #55ba47;
}

.upperbody {
    position: relative;
    background-image: linear-gradient(-90deg, #003a6c 0%, #007bb9 51%, #003a6c 100%);
}

.upperbody .wrapper {
    margin-top: 20px;
    display: flex;
    border: red solid 2px transparent;
}

.upperbody .wrapper #sidenav {
    width: 30%;
    border: #1eff00 2px solid transparent;
}

.upperbody .wrapper #sidenav ul {
    list-style: none;
    width: 100%;
}

.upperbody .wrapper #sidenav ul li {
    font-size: 18px;
    display: flex;
    line-height: 25px;
    color: #ffffff;
    font-family: "Open Sans";
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    /* border-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), #004581);
    border-image-slice: 1; */
    box-shadow: 1.5px 1.5px 1px 1px rgba(0, 153, 255, 0.2);
}

.upperbody .wrapper #sidenav ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.upperbody .wrapper #imageholder {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    width: 66%;
    border: rgb(0, 217, 255) 2px solid transparent;
    display: flex;
    flex-wrap: wrap;
}

.upperbody .wrapper #imageholder .img {
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

.upperbody .wrapper #imageholder .c {
    margin-bottom: 10px;
}

.upperbody #watermark {
    position: absolute;
    background: url(./images/Vector\ Smart\ Object\(watermark\).png) no-repeat;
    width: 35%;
    height: 500px;
    bottom: 0px;
    right: 0px;
    border: red 5px solid transparent;
}